BOT_TOKEN=your_bot_token_here
ADMIN_CHAT_ID=your_telegram_id_here

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=hrbot
POSTGRES_USER=hrbot
POSTGRES_PASSWORD=changeme

TZ=Europe/Moscow
ASK_METRO=true
INTERVIEW_ADDRESS=Мичуринский проспект, Олимпийская деревня 4к3
INTERVIEW_DIRECTIONS=Для ориентира вбейте в навигаторе Ресторан «Берикони». Если смотреть на вход ресторана, слева в десяти метрах будет дверь на ступеньках. Позвоните, когда будете возле неё, я вас встречу.
INTERVIEW_CONTACT=+7 905 530-11-91 Анна
